* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
/* shared styles */
:root {
  /* color */
  --white: #fff;
  --dark01: #0b0223;
  --dark02: #3c354f;
  --dark03: #534c64;
  --pink: #ff42a5;
  /* font-size */
  --font-size01: 48px;
  --font-size02: 20px;
  --font-size03: 18px;
  --font-size04: 16px;
  /* font weight */
  --font-weight00: 800;
  --font-weight01: 700;
  --font-weight02: 600;
  --font-weight03: 500;
  --font-weight04: 400;
}
.flex-items01 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-items02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* title */
.linear-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--font-size01);
}
.section-title01 {
  color: var(--dark01);
  font-size: var(--font-size01);
  font-weight: var(--font-weight01);
}
/* description */
.section-des {
  color: var(--dark03);
  font-size: var(--font-size03);
  font-weight: var(--font-weight04);
  margin-top: 18px;
  color: #534c64;
  margin: 24px 0px;
  line-height: 30px;
}
.btn-primary,
.btn-go-rogue {
  color: var(--white);
  font-size: var(--font-size02);
  font-weight: var(--font-weight02);
  text-transform: uppercase;
  border: none;
  padding: 21px 40px;
  border-radius: 48px;
  background-color: var(--pink);
  cursor: pointer;
}
.btn-go-rogue {
  background-color: #4ec5f7;
}

/* nav styles starts here */

nav {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0px 20px;
}
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
}
.logo {
  color: var(--dark01);
  font-size: 45px;
  font-weight: var(--font-weight01);
  gap: 20px;
}
.logo-color {
  color: var(--pink);
}
.logo img {
  width: 86px;
  height: 40px;
}
.nav-items {
  gap: 32px;
  color: var(--dark02);
  font-size: var(--font-size03);
  font-weight: var(--font-weight03);
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
}
.nav-btn {
  gap: 24px;
  font-size: var(--font-size03);
  font-weight: var(--font-weight03);
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  border: none;
  cursor: pointer;
}

.fa-youtube,
.fa-tiktok {
  width: 34px;
  background: transparent;
  height: 24px;
  font-size: 30px;
  margin: 0;
  color: #f61c0d;
}
.fa-tiktok {
  width: 24px;
  color: black;
}
/* nav styles ends here */
/* banner section starts here */
.banner-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: linear-gradient(
    223deg,
    rgba(13, 8, 21, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.banner-text {
  color: var(--dark01);
  text-align: center;
  font-size: var(--font-size01);
  font-weight: var(--font-weight02);
  text-transform: uppercase;
}
.banner-title {
  font-size: 95px;
  font-weight: var(--font-weight00);
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-des {
  color: var(--dark03);
  font-size: var(--font-size02);
  font-style: normal;
  font-weight: var(--font-weight03);
  margin-top: 18px;
}
.fa-circle-play,
.fa-download,
.fa-user-group {
  width: 24px;
  height: 24px;
  color: var(--pink);
  margin-right: 12px;
}
.banner-btn {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
.banner-img {
  text-align: right;
}
.banner-container > .banner-img img {
  width: 98%;
}

/* banner section endss here */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
/* gamer section styles starts here */
.gamer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
  margin: 20px 0px;
}

.gamer-content {
  text-align: right;
  width: 35%;
}

.text-purpose {
  color: var(--dark03);
  font-size: 24px;
  margin: 24px 0px 10px 0px;
  font-weight: var(--font-weight03);
}
.text-unleash {
  color: var(--dark03);
  font-size: 32px;
  font-weight: var(--font-weight01);
}
.gamer-img {
  width: 65%;
}
.gamer-img img {
  width: 100%;
}
/* gamer section styles ends here */
/* videos section styles starts here */
.videos-section {
  margin: 120px 0px;
}
.videos-up-content {
  text-align: center;
}
.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 48px;
}
.videos-content > p {
  margin-top: 24px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.videos-content {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 82%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--primary {
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border: 4px solid var(--pink);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.videos__description {
  font-size: --font-size03;
  margin-top: 16px;
  font-weight: var(--font-weight02);
  color: var(--pink);
}

/* videos section styles ends here */
/* play content styles starts here */
.play-container {
  gap: 30px;
}
.play-content {
  width: 45%;
  text-align: right;
}

.play-instantly {
  color: #f948b2;
}
.play-content {
  text-align: right;
}
.play-img {
  width: 65%;
  position: relative;
  text-align: right;
}
.play-img .img-1 {
  width: 70%;
}
.play-img .img-2 {
  width: 38%;
  position: absolute;
  top: 58%;
  left: 10%;
}
/* /* play content styles ends here */

/* game type content styles starts here */
.game-type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 160px 0px 120px 0px;
  flex-wrap: wrap;
  gap: 36px;
}
.game-type-content {
  gap: 16px;
}

.game-type-content > * {
  transform: translate(20px);
  transition: transform 0.25s;
}

.game-type-content:hover > * {
  transform: translate(0);
  padding: 10px;
  color: var(--pink);
}
.game-type-content:hover {
  border: 2px solid #ff42a5;
  border-radius: 50px;
}
/* .game-type-content h6:hover {
  color: var(--pink);
} */
.game-type-content img {
  width: 60px;
  height: 60px;
}
.game-type-content h6 {
  color: var(--dark01);
  font-size: var(--font-size02);
  font-weight: var(--font-weight02);
}
/* game type content styles ends here */

/* footer styles starts here */

.footer {
  margin-top: 580px;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60vh;
  left: 0;
  right: 0;
  background: var(--dark01);
  width: 100vw;
  padding: 60px 0px;
}
.footer-content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-logo {
  gap: 20px;
  margin-bottom: 30px;
}
.footer-menu .f-menu {
  gap: 60px;
  font-size: var(--font-size03);
  font-weight: var(--font-weight02);
}
.footer-menu li {
  list-style: none;
}
.footer-menu a {
  color: var(--white);
  text-decoration: none;
}
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 56px 0px;
  cursor: pointer;
}

.icon-btn i {
  font-size: 40px;
  cursor: pointer;
}
.footer-menu .bottom-menu {
  gap: 60px;
  font-size: var(--font-size03);
}
.footer-menu li {
  list-style: none;
}
.footer-menu a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-top: 48px;
}

/* footer styles ends */

/* responsive  for desktop*/
@media screen and (max-width: 992px) {
  .nav-container,
  .nav-items,
  .banner-container,
  .gamer-container,
  .play-container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 60px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin: 30px 0px;
  }
  .gamer-img {
    width: 100%;
  }
  .gamer-content {
    text-align: center;
    width: 100%;
  }
  .videos-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .play-content {
    width: 100%;
  }
  .play-img {
    width: 100%;
  }
  /* footer */
  .footer {
    margin-top: 650px;
  }
  footer {
    height: 100vh;
  }
  .footer-content {
    width: 80%;

    margin: 0 auto;
  }

  .f-menu {
    flex-wrap: wrap;
  }
  .footer-menu .f-menu {
    gap: 50px;
  }
  .bottom-menu {
    flex-wrap: wrap;
  }
  .footer-menu .bottom-menu {
    gap: 50px;
  }
  /* footer ends */
}

/* mobile device */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-items,
  .banner-container,
  .gamer-container,
  .play-container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 60px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img {
    margin: 30px 0px;
  }
  .gamer-img {
    text-align: center;
    width: 100%;
  }
  .videos-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .play-content {
    width: 100%;
  }
  .play-img {
    width: 100%;
  }

  /* footer */
  .footer {
    margin-top: 650px;
  }
  footer {
    height: 100vh;
  }
  .footer-content {
    width: 80%;
    margin: 0 auto;
  }
  .icon-btn {
    flex-wrap: wrap;
  }
  .icon-btn i {
    font-size: 30px;
  }
  .f-menu {
    flex-wrap: wrap;
  }
  .footer-menu .f-menu {
    gap: 40px;
  }
  .bottom-menu {
    flex-wrap: wrap;
  }
  .footer-menu .bottom-menu {
    gap: 40px;
  }
  /* footer ends */
}
/*  */
