* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  font-family: "Work Sans", sans-serif;
}
/* shared styles */
:root {
  /* color */
  --white: #fff;
  --dark01: #0b0223;
  --dark02: #3c354f;
  --dark03: #534c64;
  --pink: #ff42a5;
  /* font-size */
  --font-size01: 48px;
  --font-size02: 20px;
  --font-size03: 18px;
  --font-size04: 16px;
  /* font weight */
  --font-weight00: 800;
  --font-weight01: 700;
  --font-weight02: 600;
  --font-weight03: 500;
  --font-weight04: 400;
}
.flex-items01 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-items02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-primary,
.btn-go-rogue {
  color: var(--white);
  font-size: var(--font-size02);
  font-weight: var(--font-weight02);
  text-transform: uppercase;
  border: none;
  padding: 21px 40px;
  border-radius: 48px;
  background-color: var(--pink);
}
.btn-go-rogue {
  background-color: #4ec5f7;
}
header {
  height: 80vh;
}
/* nav styles starts here */

nav {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 0px 20px;
}
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  color: var(--dark01);
  font-size: 45px;
  font-weight: var(--font-weight01);
  gap: 20px;
}
.logo .logo-color {
  color: var(--pink);
}
.logo img {
  width: 86px;
  height: 40px;
}
.nav-items {
  gap: 32px;
  color: var(--dark02);
  font-size: var(--font-size03);
  font-weight: var(--font-weight03);
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
}
.nav-btn {
  gap: 24px;
  font-size: var(--font-size03);
  font-weight: var(--font-weight03);
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
  border: none;
}

.fa-youtube,
.fa-tiktok {
  width: 34px;
  background: transparent;
  height: 24px;
  font-size: 30px;
  margin: 0;
  color: #f61c0d;
}
.fa-tiktok {
  width: 24px;
  color: black;
}
/* nav styles ends here */
/* banner section starts here */
.banner-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  background-color:  linear-gradient(223deg, rgba(13, 8, 21, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-text {
  color: var(--dark01);
  text-align: center;
  font-size: var(--font-size01);
  font-weight: var(--font-weight02);
  text-transform: uppercase;
}
.banner-title {
  font-size: 95px;
  font-weight: var(--font-weight00);
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-des {
  color: var(--dark03);
  font-size: var(--font-size02);
  font-style: normal;
  font-weight: var(--font-weight03);
  margin-top: 18px;
}
.fa-circle-play,
.fa-download,
.fa-user-group {
  width: 24px;
  height: 24px;
  color: var(--pink);
  margin-right: 12px;
}
.banner-btn {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
.banner-img{
    text-align: right;
}
.banner-container > .banner-img img{
    width: 98%;
    
}
/* banner section endss here */
/* responsive  for desktop*/
@media screen and (max-width: 992px) {
  .nav-container,
  .nav-items,.banner-container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 60px;
  }
  .banner-container{
    flex-direction: column-reverse;
  }
  .banner-img{
    margin: 30px 0px;
  }
}

/* mobile device */
@media screen and (max-width: 576px) {
  .nav-container,
  .nav-items ,.banner-container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 60px;
  }
  .banner-container{
    flex-direction: column-reverse;
  }
  .banner-img{
    margin: 30px 0px;
  }
}
